/* aboutMe main */

main {
  background-color: azure;
}

h1 {
  font-size: 48px;
  text-align: center;
  padding-top: 3vh;
  color: rgb(255, 77, 77);
  font-family: "Fredoka One", cursive;
}

.challenge {
  position: relative;
  margin-top: 4vh;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.box1 {
  position: absolute;
  width: 80%;
  height: 110%;
  background-color: rgb(212, 255, 174);
  left: 30px;
  top: -20px;
  z-index: auto;
}

.challenge-pict {
  max-width: 550px;
  clip-path: polygon(0 0%, 100% 0%, 75% 95%, 0% 95%);
}

.challenge-text-box {
  margin-right: 5vw;
  z-index: 1;
}

h2 {
  font-size: 30px;
  margin-top: 10vh;
  font-weight: 600;
  border-bottom: 1px solid black;
  width: 400px;
  font-family: 'Courier New', Courier, monospace;
}

p {
  font-size: 18px;
  padding-top: 1rem;
  width: 500px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.curiosity {
  position: relative;
  margin-top: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 5vh;
}

.box2 {
  position: absolute;
  right: 30px;
  width: 80%;
  height: 90%;
  background-color: rgb(255, 236, 213);
  z-index: auto;
}

.curiosity-text-box {
  z-index: 1;
}

.curiosity-pict {
  max-width: 350px;
  clip-path: polygon(10% 5%, 100% 5%, 100% 90%, 0% 90%);
}

.student-life {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 10vh;
}

.box3 {
  position: absolute;
  background-color: rgb(154, 253, 253);
  width: 80%;
  height: 110%;
  left: 30px;
  z-index: 1;
}

.st-life-pict {
  max-width: 480px;
  z-index: 1;
  clip-path: polygon(10% 10%, 95% 10%, 100% 100%, 15% 100%);
}

.st-life-text-box {
  z-index: 1;
}

.Production {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.box4 {
  position: absolute;
  background-color: pink;
  width: 80%;
  height: 105%;
  right: 30px;

  z-index: 1;
}

.Production-text-box {
  z-index: 1;
}

.Production-pict {
  max-width: 450px;
  clip-path: polygon(0% 5%, 95% 5%, 100% 95%, 5% 95%);
  z-index: 1;
}

.see-more {
  margin: 5vh 5vh 0 5vh;
  border-top: solid 1px black;
  text-align: center;
  padding: 3vh 0 0 0;
  font-family: fantasy;
  font-size: 30px;
}

.about-me-link {
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.resume-link,
.portfolio-link {
  margin: 10px;
  border: solid 3px black;
  width: 250px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: white;
  font-family: "Fredoka One", cursive;
  font-size: 24px;
}

.resume-link:hover,
.portfolio-link:hover {
  transition: all 0.3s ease;
  background-color: aquamarine;
}