/* aboutMe main */

.green-container,
.white-container,
.blue-container,
.yellow-container {
  height: 85vh;
}

.green-container {
  background-color: lightgreen;
}

.blue-container {
  background-color: aqua;
}

.yellow-container {
  background-color: antiquewhite;
}
