* {
    margin: 0;
    padding: 0;
    /* zoom: 1; */
}

body {
    width: 1450px;
    margin: auto;
    /* background-color: #dcd3b2; */
    font-family: "Sawarabi Mincho";
    display: flex;
    flex-direction: column;
}

/* --------------------header------------------------- */

.nav-bar {
    background-color: rgb(213, 213, 213);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 16px -4px gray;
    border-radius: 30px;
}

#nav-bar-draw {
    width: 200px;
    height: 80px;

}

.nav-bar-brand {
    margin-left: 10px;
    width: 400px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    border-radius: 10px 100px / 120px;
    background-color: rgb(216, 216, 216);
    box-shadow: 0 2px 6px 5px #000000;

}


.nav-bar-link {
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a {
    text-decoration: none;
}

/* a:hover {
    color: blue;
} */
a,
a:visited,
a:hover,
a:active {
    color: inherit;
}

.about-me,
.resume,
.side-projects {
    display: flex;
    justify-content: center;
    width: 200px;
    font-size: 20px;
}

#about-me-link,
#resume-link,
#side-projects-link {
    width: 125px;
}

.github {
    display: flex;
    justify-content: space-around;
}

.link-icon {
    padding-top: 5px;
    padding-right: 5px;
    width: 20px;
    height: 20px;
}

.github-icon {
    width: 50px;
    height: 50px;
}

/* ----------------------------------main-------------------------------------- */
main {
    height: 580px;
}

/* ---------------------------------footer------------------------------------- */

footer {
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(213, 213, 213);
    box-shadow: 0 2px 16px -4px gray;
    border-radius: 30px;
    text-align: center;
}