* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  height: 100%;
  margin: auto;
  font-family: "Sawarabi Mincho";
}

/* --------------------header------------------------- */

.nav-bar {
  /* background-color: rgb(244, 244, 244); */
  background-color: black;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: inset 0 -4px 4px gray;
  /* border-radius: 30px; */
}

#nav-bar-draw {
  width: 200px;
  height: 80px;
}

.nav-bar-brand {
  margin-left: 10px;
  width: 400px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
  border-radius: 10px 100px / 120px;
  background-color: rgb(136, 134, 134);
  box-shadow: 0 2px 6px 5px #000000;
}

.nav-bar-link {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: white;
}

a:visited,
a:hover,
a:active {
  color: white;
}

.about-me,
.resume,
.side-projects {
  display: flex;
  justify-content: center;
  width: 200px;
  font-size: 20px;
}

#about-me-link,
#resume-link,
#side-projects-link {
  width: 125px;
}

.github {
  display: flex;
  justify-content: space-around;
}

.link-icon {
  padding-top: 5px;
  padding-right: 5px;
  width: 20px;
  height: 20px;
}

.github-icon {
  width: 50px;
  height: 50px;
}

/* ----------------------------------main-------------------------------------- */
main {
  background-color: #3783e8;
}

.main-container {
  display: flex;
  justify-content: center;
  height: 83vh;
  width: 90vw;
  margin: auto;
}

.left-box {
  margin: 3vh 0 3vh;
  width: 40vw;
  background-color: rgb(3, 64, 11);
}

.inner-box {
  height: 80%;
  width: 80%;
  background-color: rgb(197, 197, 33);
  position: relative;
  left: 11vw;
  top: 7vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.profile-icon {
  width: 400px;
  height: 400px;
  margin-top: 50px;
  border-radius: 100%;
}

.profile-text {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile-title {
  color: white;
  margin: 10px;
  font-size: 24px;
  text-align: center;
}

#line {
  height: 2px;
  width: 150px;
  background-color: black;
}

.profile-detail {
  color: white;
  margin: 20px 19px;
  text-align: center;
}

.right-box {
  margin: 3vh 0 3vh 5vw;
  padding: 5vh;
  width: 60vw;
  height: 65vh;
  background-color: #3783e8;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.right-text-box {
  font-size: xx-large;
}

.text-color {
  color: white;
}

.home-link {
  font-size: 24px;
  background-color: red;
  border: solid black;
  border-radius: 5px;
}

/* ---------------------------------footer------------------------------------- */

footer {
  background-color: black;
  color: white;
  text-align: center;
}
