/* ----------------------------------index-------------------------------------- */

.main-area {
  min-height: 83vh;
  background-image: url("../img/homebg.jpeg");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.left-box {
  width: 30rem;
}

.profile-icon {
  width: 360px;
  height: 360px;
  border-radius: 100%;
}

.right-box {
  width: 30rem;
  padding-bottom: 10px;
}

.home-title {
  color: rgb(248, 224, 194);
  padding: 5px 5px 5px 25px;
  font-size: 40px;
  font-weight: 3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.home-text {
  color: aliceblue;
  padding: 5px 5px 5px 25px;
  font-size: 16px;
  font-weight: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.home-link {
  margin-top: 20px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.red_circle,
.green_circle,
.blue_circle {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid black 1px;
  text-decoration: none;
  color: black;
  font-size: large;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.red_circle {
  background-color: rgb(254, 59, 41);
}

.green_circle {
  background-color: rgb(255, 248, 36);
}

.blue_circle {
  background-color: Aqua;
}

.red_circle:hover,
.green_circle:hover,
.blue_circle:hover {
  background-color: white;
  transition: all 0.5s ease;
}
